body {background:url(armagedon.gif) ;background-size:cover;}
.fs-4 {color: rgb(40, 55, 255);}
.rectangle {background-color: #ffffff;}
.rectangle1 {background-color: #ffffff;}
.rectangle2 {background-color: #ffffff;}
.rectangle3 {background-color: #ffffff;}
.rectangle4 {background-color: #ffffff;}
.rectangle5 {background-color: #ffffff;}